@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* ความมืด ปรับได้ */
    z-index: 1;
}

header {
    background: url('https://images.unsplash.com/photo-1751468109642-21dd2ec98b91?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 2;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
}

.header-info {
    margin: 100px 0;
    width: 500px;
    position: relative;
    z-index: 2;           
}

.header-info h3 {
    font-size: 30px;
    font-weight: 400;
}

.header-info p {
    font-weight: 200;
    margin-top: 10px;
}

.header-btn {
    margin: 15px 0;
}

.header-btn input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

.header-btn button {
    padding: 10px;
    width: 150px;
    background-color: brown;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

section {
    font-family: "Montserrat", sans-serif;
}

.about {
    padding: 70px 0;
    text-align: center;
    
}

.about-title {
    color: brown;
    font-size: 1.5rem;
}

.about-desc {
    color: rgb(104, 103, 103);
    margin: 15px 0;
}

.about-con {
    padding: 0 120px;
}

.about-img {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
}

.about-img img {
    width: 50%;
    max-width: 45%; /* ปรับขนาดภาพให้อยู่ในบรรทัดเดียวกัน */
    height: 50%;
}

.pricing {
    background-color: brown; 
    color: white;
    padding: 50px 0;
}

.pricing-con {
    text-align: center;
}

.pricing-text h3 {
    font-weight: 500;
    font-size: 30px;
}


.pricing-text p {
    margin: 20px 0;
}


.pricing-table {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.pricing-box {
    background-color: white;
    color: black;
    
}

.pricing-box-title {
    background-color: rgb(238, 156, 156);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgb(51, 43, 43);
}

.pricing-box-info {
    padding: 1rem;
}

.price-text {
    font-size: 45px;
    margin-bottom: 10px;
    color: brown;
    font-weight: bold;
}

.pricing-more-info {
    display: inline-block;
    margin: 20px 0;
    background-color: brown;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid brown;
}

.pricing-more-info:hover {
    color: brown;
    background-color: transparent;
}

.client {
    padding: 50px 0;
    text-align: center;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 10px;
    text-align: left;
}

.client-title h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: brown;
}

.client-desc {
    margin-bottom: 35px;
    color: rgb(141, 145, 145);
}

.client-pic {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.client-pic img {
    width: 70px;
    height: 70px; 
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1rem;
}

.newslatter {
    background-image: url(https://images.unsplash.com/photo-1567707268516-4c22fd592e90?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    text-align: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    color: white;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newslatter-title h3 {
    font-size: 30px;
    font-weight: 400;
}

.newslatter-desc {
    margin-top: 10px;
    margin-bottom: 25px;

}

.newslatter-button {
    display: flex;
    justify-content: space-between;
}


.newslatter-button input {
    padding: 7px;
    border-radius: 7px;
    border: none;
    width: 300px;
}

.newslatter-button button {
    padding: 7px;
    border-radius: 7px;
    border: none;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: brown;

}

.newslatter-con {
    width: fit-content;
    position: relative;
}
