@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


nav {
    width: 100%;
    height: 6vw;

    background: linear-gradient(125deg , rgb(231, 107, 5) , rgb(235, 40, 6));
    box-shadow: 0px 1px 8px rgb(12, 6, 6);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 9rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    
}

.nav-logo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0.85px;
}

.nav-logo img {
    width: 2vw;
    object-fit: contain;
    margin-right: 15px;
}


nav:hover {
}


.dif-color {
    color: rgb(63, 53, 204);
}

.nav-profile{
    display: flex;
    align-items: center;
}

.nav-profile p {
    font-size: 1.25rem;
}

.fa-cart-shopping {
    font-size: 1.5vw;
    cursor: pointer;    
}


.fa-circle-user {
     font-size: 1.5vw;
}

.nav-profile-icon {
    display: flex;
    align-items: center;
    margin: 0 10px;
    position: relative;
    color: white;
}

.nav-search input {
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid transparent;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0.5px 5px rgb(150, 149, 149);
    
}

.nav-search input:hover {
    border: 2px solid rgb(0, 0, 0);
}




.fa-store {
    font-size: 4rem;
    color: white ;
}


.dif-text {
    color: rgb(255, 81, 1);
    padding: 0 5px;
    font-weight: bolder;
    letter-spacing: 3.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
} 


.cartcount {
    position: absolute;
    top: -12px;
    right: 65px;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 90vw;
    margin: 30px auto;
    display: flex;
}

.sidebar {
    width: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product {
    width: 85%; 
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 20px;
}

.sidebar input {
    padding: 10px;
    border: 2px solid rgb(206, 206, 206);
    width: 100%;
    border-radius: 5px;
    outline: none;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    font-size: 1vw;
    margin-bottom: 25px;    
}

.sidebar input:hover {
    border: 2px solid orange;
}

.sidebar-items {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: 0.3s;
    font-weight: 400;
    font-size: 1vw;
    cursor: pointer;
}

.sidebar-items:hover {
    box-shadow: 0px 2px 5px rgb(12, 6, 6);
}

.product-items {
    cursor: pointer;
    transition: 0.3s;
}

.product-items:hover {
    transform: scale(1.03);
}

.product-items img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-size: 1.5rem;
}

.product-price {
    font-size: 1.25rem;
    
}

.modal,
.modal-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-page {
    z-index: 2;
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    overflow: auto;
    background: white;
    border-radius: 15px;
    padding: 20px;
}

.modal-content-pic {
    
}

.modal-content-desc {
    padding: 0 20px;
}

.modal-content-pic img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.modal-content {
    display: flex;
    height: 100%;
}

.modal-content-desc p {
    color: gray;
}

.modal-content-desc h3 {
    font-weight: 400;
}

.btn-control {
   display: flex;
   justify-content: flex-end;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: red;
    color: white;
}


.btn-buy {
    
    background: linear-gradient(125deg , rgb(255, 136, 0) , rgb(255, 0, 0));
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: bold;
}

.btn-buy:hover {
    /* background: green; */
}

.cart-item {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-left img {
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-left {
    display: flex;
}

.cart-left h2 {
    font-weight: 500;
    font-size: 1.25rem;
}

.cart-right {
    display: flex;
}

.btnc {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}


.fa-mobile-button {
    margin: 0 10px;
}

.fa-shirt {
    margin: 0 10px;
}

.fa-socks {
    margin: 0 10px;
}

.fa-border-all {
    margin: 0 10px;
}

.sidebar p {
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
}







